* {
  margin: 0;
  padding: 0;

  scroll-behavior: smooth;
}

/*Header*/

.header {
  position: relative;

  height: 100vh;
  width: 100%;

  background-image: url(../images/item-1.jpg);
  background-size: cover;
  background-position: center;
}

.nav {
  z-index: 99;
  position: fixed;

  display: flex;
  width: 100%;
  padding: 1rem;

  justify-content: space-between;

  background-color: #847a41;
}

.nav__header {
  padding: 1rem;
}

.nav__list {
  flex-grow: 1;

  text-align: right;
}

.nav__link {
  position: relative;

  display: inline-block;
  padding: 1.25rem 2rem;

  list-style: none;
}

.nav__hyperlink {
  text-decoration: none;
}

.nav__hyperlink::after {
  content: "";

  width: 0%;
  height: 0.2rem;
  display: block;
  margin: auto;

  background-color: red;

  transition: 0.5s;
}

.nav__hyperlink:hover:after {
  width: 100%;
}

/*About Us Section*/

.about-us__header {
  position: absolute;

  width: 35rem;
  height: 10rem;

  margin-top: 10rem;
  margin-left: 10rem;

  background: linear-gradient(
    90deg,
    rgba(140, 128, 51, 0.7) 24%,
    rgba(40, 40, 40, 0.7) 76%
  );

  text-align: center;
}

.about-us__section-description {
  position: absolute;

  width: 35rem;
  height: 5rem;
  margin-top: 22rem;
  margin-left: 10rem;

  background: rgba(0, 0, 0, 0.5);

  text-align: center;
}
