* {
  margin: 0;
  padding: 0;

  scroll-behavior: smooth;
}

/*Common*/

body {
  background-color: #fff;
}

.semi-header {
  margin-top: 2rem;

  font-size: 1.75rem;
  text-transform: uppercase;
  text-align: center;
  color: #fff;

  background: linear-gradient(
    90deg,
    var(--main-color) 24%,
    rgba(40, 40, 40, 0.7) 76%
  );
}

/*Header*/

.header {
  position: relative;

  height: 100vh;
  width: 100%;

  background-image: url(../images/master__img.jpg);
  background-size: cover;
  background-position: center;
}

.nav {
  position: fixed;
  z-index: 99;

  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: minmax(1rem, auto);
  gap: 1rem;

  width: 100%;
  padding-bottom: 0.5rem;

  align-items: center;

  background-color: var(--main-color);
}

.nav__header {
  padding: 1rem;

  color: #fff;
}

.nav__list {
  display: grid;
  justify-content: right;
  margin-top: 1rem;
}

.nav__links {
  display: grid;
  grid-template-columns: repeat(5, 10rem);

  text-align: center;
}

.nav__link {
  list-style: none;

  font-size: 1.2rem;
}

.nav__hyperlink {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__hyperlink:hover {
  color: #000;
}

.nav__hyperlink::after {
  content: "";

  width: 0%;
  height: 0.2rem;
  display: block;
  margin: auto;
  margin-top: 0.2rem;

  background-color: #000;

  transition: 0.75s;
}

.nav__hyperlink:hover:after {
  width: 70%;
}

/* Burger Menu */

.nav__container-btn {
  display: none;
}

.nav__burger-btn {
  position: relative;
  z-index: 99;

  display: none;
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 1rem;

  background: none;
  border: none;

  cursor: pointer;

  justify-content: end;
}

.nav__btn,
.nav__burger-btn::after,
.nav__burger-btn::before {
  display: block;
  width: 100%;
  height: 0.15rem;
  margin: 0.5rem 0;

  background-color: #000;

  content: "";
  transition: 0.5s;
}

.nav__burger-btn--is-active::after {
  transform: rotate(-45deg) translate(0.4rem, -0.7rem);
}

.nav__burger-btn--is-active::before {
  transform: rotate(45deg) translate(0.2rem, 0.5rem);
}

.nav__burger-btn--is-active .nav__btn {
  opacity: 0;
}

/*About Us Section*/

.master__header {
  position: absolute;

  width: 35rem;
  height: 10rem;

  margin-top: 10rem;
  margin-left: 7rem;

  text-align: center;
  font-size: 2rem;
  color: #fff;

  background: linear-gradient(
    90deg,
    var(--main-color) 24%,
    rgba(40, 40, 40, 0.7) 76%
  );
}

.master__logo {
  width: 80%;
  margin: 0 auto;
  margin-top: 1.5rem;
}

.master__section-description {
  position: absolute;

  width: 35rem;
  height: 5rem;
  margin-top: 22rem;
  margin-left: 7rem;

  text-align: center;
  font-size: 1.5rem;
  color: #fff;

  background: rgba(0, 0, 0, 0.5);
}

.master__description {
  margin-top: 0.75rem;
}

/*Products Section*/

.products__images {
  display: grid;
  grid-template-columns: 2fr 1fr;

  width: 90%;
  margin: auto;
}

.products__left {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(15rem, auto);
  gap: 1.5rem;

  width: 100%;
  margin: 2rem 0 0 -0.7rem;
}

.products__right {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;

  width: 100%;
  margin: 2rem 0 0 0.8rem;
}

.products__item-1 {
  position: relative;

  grid-column: 1;
  grid-row: 1/3;
  padding-bottom: 5rem;
}

.products__necklace {
  width: 100%;
  height: 100%;

  background-image: url(../images/necklace.jpg);
  background-size: cover;
  background-position: center;
}

.products__item-2 {
  position: relative;

  grid-column: 2;
  grid-row: 1/3;
  padding-bottom: 5rem;
}

.products__brooch {
  width: 100%;
  height: 100%;

  background-image: url(../images/brooch.jpg);
  background-size: cover;
  background-position: center;
}

.products__item-3 {
  position: relative;

  grid-column: 1/3;
  grid-row: 3/5;
  padding-bottom: 5rem;
}

.products__set {
  width: 100%;
  height: 100%;

  background-image: url(../images/set.jpg);
  background-size: cover;
  background-position: center;
}

.products__item-4 {
  position: relative;

  grid-column: 1;
  grid-row: 1;
  padding-bottom: 5rem;
}

.products__ring {
  width: 100%;
  height: 100%;

  background-image: url(../images/ring.jpg);
  background-size: cover;
  background-position: center;
}

.products__item-5 {
  position: relative;

  grid-column: 1;
  grid-row: 2;
  padding-bottom: 5rem;
}

.products__bracelet {
  width: 100%;
  height: 100%;

  background-image: url(../images/bracelet.jpg);
  background-size: cover;
  background-position: center;
}

.products__item-6 {
  position: relative;

  grid-column: 1;
  grid-row: 3;
  padding-bottom: 5rem;
}

.products__earrings {
  width: 100%;
  height: 100%;

  background-image: url(../images/earrings.jpg);
  background-size: cover;
  background-position: center;
}

/*Products Button*/

.products__btn {
  position: absolute;

  width: 100%;

  background-color: var(--main-color);

  border: none;
  cursor: pointer;
  transition: 0.75s;
}

.products__btn:hover {
  background-color: #ffff;
}

.products__left .products__btn {
  height: 16%;
}

.products__right .products__btn {
  height: 25%;
}

.products__btn-name {
  padding-left: 1rem;

  text-align: start;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #ffff;
}

.products__arrow-icon {
  position: relative;

  width: 1.5rem;
  height: 1.5rem;

  fill: #fff;
}

.products__icon {
  position: absolute;
  right: 0;

  margin-bottom: 1rem;
  padding-right: 1rem;
}

.products__btn:hover .products__btn-name {
  color: var(--main-color);
}

.products__btn:hover .products__arrow-icon {
  fill: var(--main-color);
}

/*FAQ Section*/

.faq {
  display: grid;
  grid-template-columns: 1fr 2fr;

  width: 100%;
  margin-top: 2rem;
  padding-top: 3rem;

  background: var(--main-color);
}

.faq__img-container {
  width: 80%;
  margin: 20% auto;
}

.faq__img {
  display: block;
  width: 100%;
  height: 80%;
}

.faq__container {
  margin: auto;
  width: 80%;
  padding: 3rem 1rem 3rem;

  border-radius: 1rem;

  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    -23px 0 20px -23px rgba(0, 0, 0, 0.8), 23px 0 20px -23px rgba(0, 0, 0, 0.8),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  background: #fff;
}

.faq__name {
  margin-bottom: 1rem;

  font-size: 1.75rem;
  text-transform: uppercase;
  text-align: center;
}

.faq__list {
  list-style: none;
}

.faq__item {
  line-height: 1.75rem;
  border-bottom: 0.05rem solid var(--main-color);
}

.faq__btn {
  display: grid;
  grid-template-columns: 90% 10%;
  gap: 7%;

  width: 100%;
  padding: 1rem 1rem 1rem 0;

  text-align: left;

  background: none;
  border: none;

  cursor: pointer;
}

.faq__btn:hover {
  color: #ad7e7e;
}

.faq__header {
  margin-top: 0.1rem;

  font-size: 1.2rem;
  font-weight: 400;
}

.faq__arrow-icon {
  width: 2vw;
  height: 2vh;

  fill: var(--main-color);
}

.faq__info {
  display: none;
  margin: 1rem 0 2rem;

  font-size: 1.2rem;
  text-indent: 1.2rem;
  text-align: justify;
}

.faq__item--is-active .faq__info {
  display: block;
}

.faq__item--is-active .faq__header {
  font-weight: 600;
}

.faq__item--is-active .faq__arrow-icon {
  transform: rotate(180deg);
}
