@font-face {
  font-family: "Raleway Bold";
  src: url("../fonts/Raleway-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway Italic";
  src: url("../fonts/Raleway-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway Light";
  src: url("../fonts/Raleway-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Italic";
  src: url("../fonts/Roboto-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-size: 1.2rem;
  font-family: "Roboto Light", serif;
}

/*Header*/

header {
  position: fixed;
  z-index: 99;
}

.navbar {
  position: relative;

  width: 90rem;
  height: 5rem;
  margin: 0 2.5rem;

  background-color: #8c8033;
}

.navbar__menu {
  position: absolute;

  margin-top: 1.5rem;
  margin-left: 43rem;
}

.navbar__logo {
  font-size: 2rem;
  font-family: "Raleway Italic";

  color: white;
}

.navbar__header {
  position: absolute;

  margin-top: 1.2rem;
  margin-left: 2rem;
}

.navbar__links {
  display: inline;
  margin-left: 9rem;
}

.navbar__link {
  color: white;
}

/*About Us Section*/

.about-us__img {
  width: 90rem;
  height: 48rem;

  display: block;
  margin: 0 auto;
}

.about-us__header {
  position: absolute;

  width: 35rem;
  height: 10rem;

  margin-top: 10rem;
  margin-left: 10rem;

  background-color: black;

  text-align: center;
}

.about-us__logo {
  width: 35rem;

  margin-top: 1rem;

  color: white;
  font-size: 3.5rem;
  font-family: "Raleway Bold";
}

.about-us__section-description {
  position: absolute;

  width: 35rem;
  height: 5rem;

  margin-top: 22rem;
  margin-left: 10rem;

  background-color: #8c8033;
}

.about-us__description {
  width: 40rem;

  margin: 0.5rem 1.5rem;

  color: white;

  font-size: 1.75rem;
  font-family: "Raleway Italic";
}

/*Products Section*/

.products__img {
  width: 20rem;
  height: 25rem;
}
